<div class="bootstrap-wrapper" >
  <div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 offset-md-3">

          <div class="container text-center" >
            <img src="../../../assets/brainylogo.png" alt="">
          </div>

          <h1 class="text-center">Register here</h1>
          <!-- {{user | json}} -->

          <form (ngSubmit)="formSubmit()" >

            <!-- user name  -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Name</mat-label>
              <input
              required
              [(ngModel)]="user.username"
              name="username"
              matInput placeholder="Enter here">
              <mat-hint>Username must be unique !!</mat-hint>
            </mat-form-field>

            <!-- first name -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input
              required
              [(ngModel)]="user.firstname"
              name="firstname"
              matInput placeholder="Enter here">
            </mat-form-field>

            <!-- last name -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input
              required
              [(ngModel)]="user.lastname"
              name="lastname"
              matInput placeholder="Enter here">
            </mat-form-field>

             <!-- emial -->
             <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email Address</mat-label>
              <input
              required
              [(ngModel)]="user.email"
              name="email"
              type="email" matInput placeholder="Enter here">
            </mat-form-field>

             <!-- mobile -->
             <mat-form-field class="full-width" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input
              required
              [(ngModel)]="user.phone"
              name="phone"
              type="number" matInput placeholder="Enter here">
            </mat-form-field>
            <!-- password -->

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>password</mat-label>
              <input
              required
              [(ngModel)]="user.password"
              name="password"
               matInput placeholder="Enter here">
            </mat-form-field>

            <div class="container text-center">
              <button type="Submit" mat-raised-button color="primary">Register</button>
              <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
            </div>

          </form>


        </div>

    </div>

  </div>
</div>
